:root {
  --bg-color: #1e1e1e;
  --txt-color: #c4c4cc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;

  color: var(--txt-color);
  background-color: var(--bg-color);
}

ul {
  list-style: none;
}
