.container {
  height: 4rem;
  width: 260px;

  border: 0;
  border-radius: 2rem;

  background-color: var(--yellow-500);
  color: var(--gray-900);

  font-size: 1.25rem;
  font-weight: 900;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: filter 0.2s;
  &:hover {
    filter: brightness(0.8);
  }

  &:disabled {
    filter: brightness(0.5);
    pointer-events: none;
    cursor: not-allowed;
  }
}
